{% extends 'base.html.twig' %}

{% block Main %}

    <h1>Opinion creation</h1>

    <div class="feedback main-grid-border">
        <div class="container">
            <h2 class="w3-head">Feedback</h2>
            <div class="feed-back">
                <h3>Tell us what you think of us</h3>

                <div class="feed-back-form">
                    {% block add %}
                    <h3 >Donner nous votre avis et n'oublier pas de nous noter ! </h3>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input id ="rating" type="number" name="note">
                        <input type="submit" value="Confirmer">

                            {{ form_end(form) }}
                    {% endblock %}
                    <img src="{{ asset('/images/feedback.png') }}">
                </div>
                {% include"@Troc/Opinion/rating.html.twig" %}

            </div>
        </div>
    </div>

{% endblock %}
