{% extends 'base.html.twig' %}

{% block Main %}
<center><div class="col-md-11"> <h3 style="color:#65B042">Thanks for your Rating !</h3><br>
    <img src="{{ asset('images/success.png')}}">
        <h2 >Your Opinion makes us stronger !!</h2>
    </div></center>
{% endblock %}