 <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>
    <style type="text/css">
        .stars-outer {
            display: inline-block;
            position: relative;
            font-family: FontAwesome;
            font-size: 30px;
        }
        .stars-outer::before {

            content: "\f006 \f006 \f006 \f006 \f006";
            color: black;
        }
        .stars-inner {
            color:darkorange;
            position: absolute;
            top: 0;
            left: 0;
            white-space: nowrap;
            overflow: hidden;
            font-size: 30px;
            width: {{ note*100/5 }}%;

        }
        .stars-inner::before {
            content: "\f005 \f005 \f005 \f005 \f005";
        }

    </style>


 <h1><a href="{{ path('opinon_ajout') }}" ><button style="font-size: 70%"><label style="color:dodgerblue">Rate</label>
             <label style="color:red">US !</label></button></a><br><div class="stars-outer" >
             <div class="stars-inner"></div>
         </div><label>{{ note}}/5</label> </h1>
