{% extends 'base.html.twig' %}

{% block Main %}
    <h1>Opinion</h1>

    <table border="1">
        <tbody>
        <th>Idop</th> <th>Contenu</th> <th>Note</th>
        {% for o in opinion %}
            <tr>
                <td>{{ o.idOp }}</td>
                <td>{{ o.contenu }}</td>
                <td>{{ o.note }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('opinion_index') }}">Back to the list</a>
        </li>

    </ul>
{% endblock %}
